/* start flex line-bott
main-
info-chat
message-text
message-box
bo-rad
info-message
*/ 
.d-flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ali-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.d-block{
    display: block;
}
.gap-5px{
    gap: 5px;
}
.gap-10px{
    gap: 10px;
}
.gap-15px{
    gap: 15px;
}
.gap-20px{
    gap: 20px;
}
/* end flex */
/* star grid */
.d-grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.d-grid-4{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
/* end grid */

/* start center element */
.center-el{
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.center-el-vr{
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.center-el-hr{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/* end center element */
/* start background*/
.back-col-wh{
    background-color: #ffffff;
}
/* end background*/
/* start font*/
.fo-14{
    font-size: 14px;
}
.fo-15{
    font-size: 15px;
}
.fo-16{
    font-size: 1rem;
}
.fo-20{
    font-size: 21px;
}
.fo-col-wh{
    color: #ffffff;
}
/* end font*/
.trans{
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.cur-po{
    cursor: pointer;
}
/* start text*/
.txt-uper{
    text-transform:uppercase;
}
.txt-cen{
    text-align: center;
}
/* end text*/
/* start border*/
.bor-dash{
    border: 1px dashed #E4E6EF;
}
.bor{
    border:1px solid #eff2f5;
}
.bor-col{
    border: 1px solid #E4E6EF;
}
.bor-top-col{
    border-top: 1px solid #eff2f5;
}
.bor-bott-col{
    border-bottom: 1px solid #eff2f5;
}
.bor-bott{
    border-bottom: 1px solid #E4E6EF;
}
.bor-top{
    border-top:1px solid;
}
.bor-bot{
    border-bottom:1px solid;
}

/* end border*/
/* start raduis */
.bo-rad{
    border-radius:0.475rem;
    -webkit-border-radius:0.475rem;
    -moz-border-radius:0.475rem;
    -ms-border-radius:0.475rem;
    -o-border-radius:0.475rem;
}
.bo-rad-haf{
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
/* end raduis */
/* start margin*/
.m-top{
    margin-bottom: 1rem; 
}
.m-right-5{
    margin-right: 5px;
}
/* start margin*/
/* start padding */
.pad-top-2rem{
    padding-top: 1.3rem;
}
.pad-bot-2rem{
    padding-bottom: 1.3rem;
}
.pad-25{
    padding: 25px;
}
/* end padding */
.w-full{
    width: 100%;
}

/* start position*/
.po-rel{
    position: relative;
}
.po-abs{
    position: absolute;
}
.po-fix{
    position: fixed;
}

/* end position*/
/* start components */
.fo-pos{
    color: #2d3560;
    font-weight: 400;
    font-size: .91rem;
    padding: 10px;
    line-height: 1.5;
}
.fo-name-per{
    font-size: 15px;
    color: rgb(0 0 0 / 80%);
    font-weight: 500;
}
.fo-bot-na{
    font-size: 12px;
    color: #A1A5B7;
    font-weight: 500;
    line-height: 1.5;
}
.line-bott{
    border-bottom: 1px dashed #eff2f5;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.line-bott-msg{
    border-bottom: 1px dashed #eff2f5;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.profile-friend{
    width: 40px;
    height: 40.266px;
    font-size: 20px;
}
.profile-friend-color1{
    background-color: #F1FAFF;
    color: #009EF7;
}
.profile-friend-color2{
    background-color: #E8FFF3;
    color: #50CD89;
}
.enable{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #50CD89;
    bottom: 5px;
    left: 33px;
    border: 2px solid white;
}
.image-fr-30{
    max-width: 30px;
    height: auto;
}
.image-fr{
    max-width: 40px;
    height: auto;
}
.image-50{
    max-width: 60px;
    height: auto;
}
.image-full{
    max-width: 100%;
    height: auto;
}
.tooltip{
    position: absolute;
    font-size: 15px;
    background-color: var(--side-color);
    bottom: 120%;
    padding: 6px;
    min-width: 55px;
}
.tooltip::before{
    content: "";
    position: absolute;
    border: 8px solid;
    border-color: var(--side-color) transparent transparent;
    bottom: -53%;
}

.input-shap{
    overflow-wrap: break-word;
    color: var(--color-fo-me-si);
    padding: 0.775rem 1rem;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.5;
    transition: border-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    -ms-transition: border-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out;
}
.input-shap::placeholder{
    color:#B5B5C3;
}
.input-shap:focus{
    outline: none;
    border-color:#B5B5C3;
}

.button-ok,
.button-cancel,
.button-error1,
.button-error2{
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.button-ok{
    background-color: var(--color-font);
    color: rgb(255 255 255 / 92%);
}
.button-cancel{
    background-color: var(--back-col-hov);
    color: #7E8299;
}
.button-cancel:hover{
    background-color: #eeeded;
}
.button-ok:hover{
    background-color: var(--back-button-col);
}
.button-error1{
    background-color: var(--color-error-but);
    color: #ffffff;
    padding: 14px 27px;
    font-weight: 600;
    font-size: 14.3px;
    transition: background-color .2s ;
    -webkit-transition: background-color .2s ;
    -moz-transition: background-color .2s ;
    -ms-transition: background-color .2s ;
    -o-transition: background-color .2s ;
}
.button-error2{
    background-color:#ffffff;
    color: #181C32;
    padding: 14px 27px;
    font-weight: 600;
    font-size: 14.3px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.button-error1:hover{
    background-color: #D9214E;
}
.button-error2:hover{
    background-color: #F1FAFF;
    color:var(--color-font);
}

.check-shap{
    position: relative;
    display: flex;
    align-items: center;
}
.check-shap::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #EFF2F5;
    border-radius: 25px;
    left: 0px;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}
.check-shap::after{
    content: "";
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-47%);
    transition: left .3s;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
}
.check-box:checked + .check-shap::after{
    left: 25px;
}
.check-box:checked + .check-shap::before{
    background-color: #009EF7;
}
.main-box{
    border:1px solid #eff2f5;
    padding: 29.250px;
    padding-bottom: 0px;
    margin-bottom: 35px;
    border-radius:0.475rem;
    -webkit-border-radius:0.475rem;
    -moz-border-radius:0.475rem;
    -ms-border-radius:0.475rem;
    -o-border-radius:0.475rem;
}
.notices-pup{
    position: fixed;
    top: -500px;
    background-color: var(--side-color);
    color: #8e92a5;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 20px;
    border-radius: 6px;
    box-shadow:  0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    transition: top .3s;
    gap: 20px;
}
.butt-not-c{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-border);
    border-radius: 50%;
    cursor: pointer;
    font-size: 17px;
}
/* end components */
