/* //////////////////media for header /////////////////////////////////////// */
@media (max-width:1200px) {

    .body {
        justify-content: center;
        flex-direction: row-reverse;
    }

    main {
        border-left: 0px;
        padding: 10px 25px;
        margin-left: 24px;
    }

    .info-stat p {
        font-size: 12px;
    }

    .el-m1 {
        display: block;
    }

    .el-m2 {
        display: inline-block;
    }

    .inp-post {
        display: none;
    }

    .inp-post3 {
        display: block;
    }

    .line-bott2,
    .line-bott1 {
        display: block;
        margin: 10px 0px;
    }

    nav {
        justify-content: center;
    }

    .menu {
        gap: 20px;
    }

    .aside-left1 {
        display: none;
    }

    .effect-left-side {
        display: block;
    }

    .logo {
        padding-right: .55rem;
    }
}

@media (max-width:992px) {

    .nav-rig {
        border-radius: var(--main-radius);
    }

    .header {
        flex-wrap: wrap;
        padding: 10px 0px;
        justify-content: space-evenly;
    }

    nav {
        justify-content: space-between;
        flex-grow: 0;
    }

    .father-logo {
        justify-content: space-between;
        width: 100%;
        padding-right: 2px;
    }

    .menu {
        gap: 30px;
    }

    .profile1-icon {
        display: none;
    }

    .profile2-icon {
        display: flex;
    }

    .my-profile {
        top: 82px;
    }

    .logo>span {
        font-size: 15px;
    }

    .logo>span:first-of-type {
        padding: 4px 7px;
    }

    .logo>span:last-of-type {
        font-size: 19px;
    }

    .stat1:nth-child(4) {
        display: none;
    }

    .aside-right {
        width: 30%;
        margin-left: 20px;
    }

    .hash li a,
    .popular-word span {
        font-size: 13px;
    }

    .popular-Hashtag h3,
    .popular-word h3 {
        font-size: 16px;
    }

    .popular-Hashtag,
    .popular-word {
        padding: 25px;
        padding-left: 25px;
    }

    .add-stat {
        width: 35px;
        height: 35px;
        bottom: 11px;
        font-size: 17px;
    }

    .box-search,
    .box-follow {
        top: 99px;
    }

    .main-profile h1 {
        margin: 0px 0px 20px;
    }

    .left-chat-side {
        padding: 10px;
    }

    .fo-name-per {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    main {
        width: 65%;
        padding: 0px;
        margin-left: 5px;
        padding-bottom: 50px;
    }

    .aside-right {
        height: calc(100vh - 141px);
        top: 121px;
    }

    .fo-pos {
        font-size: 0.85rem;
    }

    .img-cont-pos,
    .img2-cont-pos {
        height: 235px;
    }

    nav {
        position: fixed;
        justify-content: center;
        padding: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        gap: 15px;
        border-top: 1px solid #eff2f5;
        border-radius: var(--main-radius);
        background-color: white;
    }

    .nav-right {
        flex-direction: row;
        gap: 0px;
        margin: 0;
    }

    .nav-rig {
        position: static;
        width: 100%;
        justify-content: space-between;
        padding: 0px 5px;
    }

    .body {
        margin-left: 0px;
    }

    .menu-side-ic1 {
        display: none;
    }

    .menu-side-ic2 {
        display: flex;
    }

    .my-profile-img {
        width: 35px;
        height: 35px;
    }

    .header {
        flex-direction: column;
        padding-bottom: 0;
        gap: 5px;
    }

    .inp-post,
    .line-bott1 {
        display: none;
    }

    .inp-post2 {
        display: flex;
    }

    .line-bott2 {
        margin-top: 20px;
    }

    .posts-container {
        padding: 12px 0px;
    }

    .el-m2 a {
        border-radius: 2px;
    }

    .aside-right {
        margin-left: 0px;
        flex: 1;
    }

    .freind img {
        max-width: 35px;
    }

    .fo-name-per {
        font-size: 14px;
    }

    .fo-bot-na {
        font-size: 11px;
    }

    .popular-word span {
        padding: 5px 7px;
    }

    .like-comm>div {
        height: 35px;
        font-size: 23px;
    }

    .like-comm .shar {
        font-size: 20px;
    }

    .search-right,
    .popular-Hashtag,
    .popular-word {
        margin-bottom: 20px;
        padding: 15px;
    }

    .write-comm {
        overflow-y: scroll;
    }

    .tooltip {
        font-size: 13px;
        padding: 6px 4px;
        min-width: 52px;
    }

    .box-search,
    .box-follow {
        right: 50px;
        top: 80px;
    }

    .info-r img {
        width: 43px;
        height: auto;
    }

    .req-list .desc-user-req p {
        font-size: 15px;
    }

    .option-search1 li span,
    .desc-user-req span {
        font-size: 11px;
    }

    .bot-req {
        padding: 9px 11px;
        font-size: 12px;
    }

    .notices-box {
        width: 100%;
    }

    .repley {
        display: none;
    }

    .body-notices {
        padding: 0px 25px;
    }

    .repley-mess,
    .repley-comm {
        margin: 25px 0px 0px 6px;
        padding: 10px;
        flex-wrap: wrap;
    }

    .repley-mess>span svg {
        width: 25px;
    }

    title-mass {
        font-size: 14px;
    }

    .mess-not,
    .mess-comm {
        padding: 6px;
        font-size: 11px;
    }

    .txt-notic>span {
        font-size: 14px;
    }

    /* ==================== */
    .comm-notic::before {
        width: 40px;
        height: 40px;
        left: -20.5px;
    }

    .comm-notic>span:first-child {
        top: 9.5px;
    }

    .i-icon {
        font-size: 18px;
    }

    .comm-notic>span:first-child svg {
        width: 20px;
    }

    /* ==================== */


    .info-notic span {
        font-size: 12px;
    }

    .body-ch {
        flex-direction: column;
    }

    .left-chat-side,
    .messenger-box-ch {
        width: 100%;
    }

}

@media (max-width:565px) {

    .nav-right>div span svg,
    .menu-side-ic span svg {
        width: 21px;
    }

    .icon-menu i {
        font-size: 14.5px;
    }

    .nav-right>div {
        padding: 5px 8px;
        border-radius: 3px;
    }

    .el-menu i {
        font-size: 21px;
    }

    .inp-post2 {
        width: 45px;
        height: 45px;
        font-size: 13px;
        right: 3%;
    }

    .fo-pos {
        font-size: 0.8rem;
    }

    .like-comm>div {
        height: 32px;
        font-size: 20px;
    }

    .like-comm .shar {
        font-size: 18px;
    }

    .aside-right {
        display: none;
    }

    .info-stat img {
        max-width: 25px;
    }

    main {
        width: 100%;
        margin-left: 0;
    }

    .info-stat p {
        font-size: 10px;
    }

    .info-stat {
        bottom: 5px;
        padding: 0px 3px;
    }

    .add-stat {
        width: 30px;
        height: 30px;
        bottom: 8px;
        font-size: 15px;
    }

    .menu-op .mem-op {
        padding: 9px 12px;
        font-size: 13px;
    }

    .menu-side {
        padding: 12px 5px;
        top: 36px;
        width: 160px;
    }

    .logo>span {
        font-size: 14px;
    }

    .logo>span:last-of-type {
        font-size: 18px;
    }

    .box-search,
    .box-follow {
        right: 5px;
        padding: 12px;
    }

    .box-follow {
        right: 0px;
        width: 100%;
        height: 503px;
        top: 71px;
    }

    .body-notices {
        padding: 0px 20px;
    }

    .notices-info {
        padding: 12px;
    }

    .re-butt,
    .re-butt-com {
        padding: 9px 11px;
        font-size: 13px;
        width: 100%;
        margin-top: 5px;
    }

    .puple-message {
        padding: 12px;
        height: 100%;
    }

    .messenger-box,
    .notices-box {
        width: 100%;
    }

    .info-chat {
        padding: 5px 5px;
    }

    .icon-close-chat {
        gap: 0px;
    }

    .go-chat a {
        font-size: 13px;
    }

    .name-chat-fr span:first-child {
        font-size: 15px;
    }

    .message-box,
    .message-box2 {
        padding: 10px;
    }

    .left-icon {
        font-size: 18px;
    }

    .options label {
        padding: 8px;
        font-size: 11.5px;
    }

    .button-ok,
    .button-cancel,
    .button-error1,
    .button-error2 {
        padding: 10px 14px;
        font-size: 12px;
    }

    .sh::before,
    .sh::after,
    .new::before,
    .new::after,
    .mes::before,
    .mes::after,
    .not::before,
    .not::after,
    .icon-menu::before,
    .icon-menu::after {
        display: none;
    }

    .tooltip {
        font-size: 12px;
        padding: 5px 4px;
        min-width: 50px;
    }

    .menu-post span svg {
        width: 20px;
    }
}

@media (max-width:420px) {

    .box-search,
    .box-follow {
        right: 0px;
        width: 100%;
        height: calc(100vh - 97px);
        top: 75px;
    }

    .top-search input {
        padding: 8px;
        padding-left: 27px;
        font-size: 13px;
    }

    .top-search span svg {
        width: 17px;
    }

    .image-fr {
        max-width: 36px;
    }

    .fo-name-per {
        font-size: 13px;
    }

    .profile-person span:last-child {
        font-size: 10px;
    }

    .my-profile {
        top: 82px;
        right: 5px;
        width: 230px;
        padding: 10px;
    }

    .prof li a {
        font-size: 12px;
        padding: 10px;
    }

    .info-top-my-pro span {
        font-size: 14px;
    }

    .info-top-my-pro a {
        font-size: 11px;
    }

    .puple-error,
    .puple-blocked {
        width: 90%;
        height: fit-content;
        padding: 0px;
    }

    .puple-error .body-puple {
        padding: 20px;
    }

    .circle-error,
    .circle-ok {
        width: 60px;
        height: 60px;
    }

    .text-error {
        font-size: 14px;
        margin-bottom: 35px;
    }

    .buttons-error {
        gap: 10px;
    }
}

/* //////////////////end media for header/////////////////////////////////////// */


/* //////////////////start media for profile/////////////////////////////////////// */
@media (max-width:1200px) {
    .main-profile {
        flex: 1;
        padding: 0px;
        margin-left: 0px;
    }

    .contain-input {
        padding: 20px 0px;
        padding-top: 25px;
    }

    .left-sign-in {
        padding-bottom: 55px;
    }
}

@media (max-width:992px) {
    .infor-profile {
        margin-bottom: 10px;
    }

    .follow-info {
        gap: 10px;
    }

    .address-prof a {
        font-size: 13px;
    }

    .address-prof a span svg {
        width: 15px;
    }

    .number>div {
        width: 110px;
        height: 60.7px;
    }

    .number>div span:first-child {
        font-size: 19px;
    }

    .number>div span:last-child {
        font-size: 11px;
    }

    .button-prof button {
        font-size: 11px;
        padding: 8.5px 8px;
    }

    .button-prof button:first-child {
        padding: 9px 12px;
    }

    .button-prof button:last-child {
        padding: 6.5px;
    }

    .button-prof {
        width: 50%;
        justify-content: end;
    }

    .body-posts {
        gap: 20px;
    }

    .left-post-side {
        width: 28%;
        padding: 15px;
    }

    .body-posts .right-post-side {
        width: 65%;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .icon-post-left a {
        padding: 5px 6px;
    }

    .icon-post-left a span svg,
    .inp span svg {
        width: 18px;
    }

    .inp input {
        padding: 9px;
        padding-left: 35px;
        font-size: 12px;
    }

    .icon-post-right button span svg {
        width: 19px;
    }

    .left-sign-in {
        padding: 77px 30px;
    }

    .right-sign-in {
        flex: 1;
    }

    .container-input::after {
        width: 45%;
    }

    .icon-log img {
        width: 150px;
        height: 150px;
    }

    .icon-log span {
        font-size: 34px;
    }

    .icon-log {
        top: 150px;
    }
}

@media (max-width:768px) {
    .main-profile h1 {
        font-size: 20px;
    }

    .my-name {
        font-size: 1.15rem;
    }

    .my-name span svg {
        width: 20px;
    }

    .image-profile {
        width: 125px;
        height: 125px;
    }

    .green {
        width: 17px;
        height: 17px;
        border: 3px solid white;
    }

    .infor-profile {
        flex-wrap: wrap;
        gap: 10px;
    }

    .button-prof {
        width: 100%;
        justify-content: flex-end;
    }

    .number>div {
        width: 93px;
        height: 50.7px;
    }

    .number>div span:first-child {
        font-size: 17px;
    }

    .number>div span:last-child {
        font-size: 10px;
    }

    .Profile-Compleation>span {
        font-size: 12px;
    }

    .prog-profile {
        height: 4px;
    }

    .bott-prof li a {
        padding: 12px 0px;
        font-size: 13.5px;
    }

    .main-box {
        padding: 15.25px;
    }

    .number {
        width: 100%;
        justify-content: space-between;
    }

    .img-pro-pos {
        width: 45px;
        height: 46px;
    }

    .left-post-side1 {
        display: none;
    }

    .effect-left-po {
        display: block;
    }

    .left-post-side2 {
        width: 230px;
        padding: 10px;
    }

    .posts-option li a {
        margin-bottom: 7px;
    }

    .icon-post-right button {
        background-color: transparent;
    }

    .mm-po {
        display: none;
    }

    .mm-po-med1 {
        display: block;
    }

    .icon-post-right button .mm-po-med span svg,
    .icon-post-left a:first-child span svg {
        width: 24px;
    }

    .container-pos h3 {
        margin-bottom: 12px;
        font-size: 17px;
    }

    .name-pos p {
        font-size: 11px;
    }

    .ico-righ-po>span {
        font-size: 12px;
    }

    .container-input::after {
        width: 100%;
        height: 15%;
    }

    .container-input {
        flex-direction: column-reverse;
    }

    .right-sign-in>img {
        width: 100%;
        height: 109px;
    }

    .left-sign-in {
        padding: 20px 30px;
    }

    .icon-log {
        top: 14px;
    }

    .icon-log img {
        width: 50px;
        height: 50px;
    }

    .icon-log span {
        font-size: 25px;
    }

    .contain-input {
        max-width: 375px;
    }
}

@media (max-width:568px) {
    .address-prof a span svg {
        width: 15px;
    }

    .image-profile {
        width: 125px;
        height: 100px;
    }

    .img-prof-media {
        width: 100%;
    }

    .top-profile {
        flex-wrap: wrap;
        gap: 7px;
        margin-bottom: 20px;
    }

    .button1-prof {
        display: none;
    }

    .button2-prof {
        display: flex;
        gap: 0px;
        margin-top: 10px;
    }

    .address-prof {
        gap: 0px;
    }

    .address-prof a {
        font-size: 11px;
    }

    .main-box {
        padding: 6.25px;
        padding-bottom: 0px;
    }

    .my-name {
        margin-bottom: 5px;
        font-size: 1.07rem;
    }

    .bott-prof {
        gap: 0px;
        justify-content: space-between;
    }

    .button-prof button {
        font-size: 11px;
        padding: 9px 7px;
    }

    .button-prof button:first-child {
        padding: 9px 12px;
        margin-left: 0px;
    }

    .button-prof button:last-child {
        padding: 5.5px;
    }

    .follow-info .number {
        gap: 0px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .number>div {
        width: 80px;
        height: 44.7px;
    }

    .main-profile h1 {
        font-size: 19px;
        margin-bottom: 20px;
    }

    .Profile-Compleation {
        width: 100%;
    }

    .infor-profile {
        gap: 15px;
    }

    .all-info-prof {
        gap: 5px;
    }

    .follow-info {
        gap: 17px;
    }

    .body {
        padding: 1.5rem 4px;
    }

    .number>div span:first-child {
        font-size: 15px;
    }

    .top-rig-post {
        flex-wrap: wrap;
        gap: 10px;
    }

    .icon-post-right button {
        display: none;
    }

    .icon-post-right {
        width: 100%;
    }

    .inp {
        width: 100%;
    }

    .inp input {
        width: 100%;
    }

    .body-posts .right-post-side {
        padding-top: 5px;
    }

    .mm-po-med2 {
        display: flex;
    }

    .icon-post-left {
        justify-content: space-between;
        width: 100%;
    }

    .posts-option li a {
        padding: 6px 8px;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .posts-option li a span svg {
        width: 18px;
    }

    .left-post-side2 {
        width: 200px;
    }

    .ico-righ-po a {
        padding: 5px 6px;
    }

    .ico-righ-po a span svg {
        width: 18px;
    }

    .ico-righ-po {
        gap: 2px;
        width: 100%;
    }

    .info-post-opt {
        gap: 0px;
        flex-wrap: wrap;
    }

    .text-info-po {
        gap: 5px;
    }

    .img-pro-pos {
        width: 85px;
        height: 48px;
    }

    .name-pos .last {
        font-size: 12px
    }

    .post-opt {
        padding: 35px 0px 35px;
    }

    .name-pos p {
        font-size: 11px;
        max-width: 100%;
    }

    .green {
        width: 15px;
        height: 15px;
    }

    .google-app {
        flex-direction: column;
    }

    .contain-input {
        padding-top: 5px;
    }

    .left-sign-in {
        padding: 10px 30px;
    }
}

@media (max-width:400px) {
    .bott-prof li a {
        padding: 10px 0px;
        font-size: 11.5px;
    }

    .button-prof button {
        font-size: 10px;
        padding: 8px 5px;
    }

    .button-prof button:first-child {
        padding: 9px 9px;
    }

    .image-profile {
        width: 100px;
        height: 80px;
    }

    .titl h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .titl span {
        font-size: 12px;
    }

    .google-app a {
        padding: 11px 15px;
        font-size: 12px;
        border-radius: 3px;
    }

    form input {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .line-titl::before {
        font-size: 11px;
    }

    .sign-up {
        font-size: 12px;
    }

    .left-sign-in {
        padding: 10px 13px;
    }
}

@media (max-width:355px) {
    .follow-info .number {
        justify-content: space-between;
    }
}

/* //////////////////end media for profile/////////////////////////////////////// */

/* //////////////////start media for about/////////////////////////////////////// */

@media (max-width:1200px) {
    .boxs-freind {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    .messenger-box-ch {
        overflow-y: hidden;
        position: relative;
    }

    .menu-side-ic1 {
        display: flex;
    }

    .notices-pup {
        position: fixed;
        top: -500px;
        background-color: var(--side-color);
        color: #8e92a5;
        font-size: 15px;
        padding: 17px 20px;
    }
}

@media (max-width:992px) {
    .box-about h3 {
        font-size: 19px;
    }

    .top-box-about {
        padding: 17.25px;
    }

    .butt-about {
        padding: 8px 9px;
        font-size: 12px;
    }

    .info-about {
        padding: 17px 16.25px;
    }
}

@media (max-width:768px) {
    .boxs-freind .box-about .top-box-about {
        padding: 7.25px;
    }

    .boxs-freind .box-about {
        padding: 10px;
    }

    .left-info div:last-child span:first-child {
        font-size: 14px;
    }

    .left-info div:last-child span:last-child {
        font-size: 13px;
    }

    .info-about {
        padding: 15px 7.25px;
    }

    .box-about h3 {
        font-size: 18px;
    }

    .butt-about {
        padding: 7px 7px;
        font-size: 11px;
    }

    .butt-about span svg {
        width: 14px;
    }

    .left-info div:first-child {
        width: 35px;
        height: 35px;
    }

    .left-info div:first-child span svg {
        width: 20px;
    }

    .left-info div:first-child span i {
        font-size: 15px !important;
    }

    .boxs-freind {
        /* flex-wrap: wrap; */
        gap: 15px;
    }

    .right-Freind-side {
        padding: 10px;
    }

    .icon-frei-right {
        margin-bottom: 15px;
    }

    .about-mm .about-men {
        display: flex;
    }

    .photo-div {
        padding-bottom: 0;
    }

    .mm-po-med3 span {
        color: var(--color-font-tit);
    }

    .first-follow {
        width: 111.5px;
        height: 53px;
    }

    .boxs-log h3 {
        padding: 11px 19px;
        font-size: 17px;
        min-width: 650px;
    }

    .boxs-log {
        padding: 5px;
        overflow-x: scroll;
    }

    .boxs-log tr th {
        font-size: 14px;
        padding: 10px 15px;
    }

    .boxs-log tr td {
        padding: 10px 25px;
        font-size: 11px;
    }

    .main-profile {
        padding-bottom: 47px;
    }

    .boxs-log table {
        min-width: 650px;
    }

    .inp input {
        height: 40px;
    }

    .body-notices {
        height: 72%;
    }

    .messenger-box-ch {
        height: 100vh;
    }

    .main-chat {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }

    .menu-side-ic1 {
        display: none;
    }

    .notices-pup {
        font-size: 13px;
        padding: 13px 10px;
        border-radius: 4px;
        gap: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .butt-not-c {
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
}

@media (max-width:568px) {
    .info-about {
        padding: 15px 0.25px;
    }

    .boxs-group {
        grid-template-columns: 1fr;
    }

    .box-about h3 {
        font-size: 17px;
    }

    .img-box-freind img {
        width: 60px;
        height: auto;
    }

    .box-freind {
        padding: 10px;
        gap: 10px;
    }

    .info-box-freind span {
        font-size: 12px;
    }

    .first-follow {
        width: 98.5px;
        height: 51px;
    }

    .first-follow span:first-child {
        font-size: 15px;
    }

    .first-follow span:last-child {
        font-size: 10px;
    }

    .boxs-freind {
        grid-template-columns: 1fr;
    }

    .img-group {
        padding: 5px 10px;
    }

    .img-box-freind img {
        width: 55px;
        height: auto;
    }

    .type-group {
        padding: 7px 10px;
        font-size: 13px;
    }

    .info-box-group a {
        font-size: 18px;
    }

    .info-box-freind span {
        font-size: 11px;
    }

    .num-memb {
        width: 37px;
        height: 37px;
    }

    .follow-box-freind {
        padding: 0px 15px;
    }

    .image-post img {
        width: 80px;
    }

    .body-puple h3 {
        font-size: 15px;
    }

    .top-puple h2 {
        font-size: 18px;
    }

    .check-shap::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 20px;
    }

    .check-shap::after {
        content: "";
        position: absolute;
        left: 5px;
        width: 15px;
        height: 15px;
    }

    .check-box:checked+.check-shap::after {
        left: 31px;
    }

    .body-puple-post {
        padding: 0px;
    }

    /* .body-puple-post form {
        gap: 0px;
        position: absolute;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    } */
    .body-puple-post .wr-post {
        height: 124px;
        padding-right: 2rem;
    }

    .icon-wr-post {
        font-size: 19px;
        gap: 12px;
    }

    .submit label,
    .submit-po label {
        font-size: 14px;
    }

    .submit label::before {
        width: 12px;
        height: 12px;
    }

    .submit label::after {
        font-size: 10px;
    }

    .top-puple h2 span svg {
        width: 20px;
    }

    .button-help {
        position: absolute;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5px;
    }
}

@media (max-width:450px) {
    .notices-pup {
        font-size: 12px;
        width: 210px;
        padding: 8px 8px;
        gap: 9px;
    }

    .butt-not-c {
        width: 39px;
        height: 25px;
        font-size: 14px;
    }

    .butt-not-sa {
        width: 25px;
        height: 25px;
    }
}

@media (max-width:400px) {
    .left-info div:last-child span:first-child {
        font-size: 13px;
    }

    .left-info div:last-child span:last-child {
        font-size: 12px;
    }

    .ul-about li>span svg {
        width: 18px;
    }

    .menu-op .mem-op {
        padding: 7px 10px;
        font-size: 12px;
    }

    .menu-side {
        padding: 10px 5px;
        width: 138px;
    }

    .menu-op li:not(:last-child) {
        margin-bottom: 5px;
    }

    .left-info div:first-child {
        margin-right: 6px;
    }
}


/* //////////////////end media for about/////////////////////////////////////// */

